<%- include("partials/header") -%>
<div class="about">
<h1>About</h1>
<p><%= aboutContentShow %></p> 
<br>
<br>
<p>
    Ensure passwords are complex, including upper & lower case, numbers and special characters. It should be memorized and never be written on paper.
    
    We need to be sensitive in what we upload/share on our social networking accounts and avoid sharing personal information like date of birth, social security details, <br>
    phone numbers, names, and pictures of family members. Connect our devices only to authorized wifi access, use privacy options provided by various mobile operating systems,
    use auto-lock features, and download apps only from authorized app stores.We need to be smart using the internet and avoid visiting untrusted websites; referral links to visit
    websites are never to be clicked; instead, type in the browser’s URL address.

</p>
</div>
<%- include("partials/footer") -%>