<%- include('partials/header') %>

<div class="interface">
 <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>

    <h1 class="display-3">Blog Spot</h1>
    <p class="lead">Show your ideas & join the Saga...🕸</p>
    
    
    <div class="h-divider">
      <div class="shadow"></div>
      <div class="text2"><img src="https://t1.gstatic.com/images?q=tbn:ANd9GcQsmMfybMIwoE5etmOIAuvnFWdfv_8C1Bq15urJFqwhhI55FyYNP2YuUA" /></div>
    </div>


    <div class = "interface">  
      <br>
        <a class="btn btn-info btn-block btn-round btn-lg" href="/register" role="button">Register</a>
    </div>
    <div class = "interface">  
      <br> 
       <a class="btn btn-info btn-block btn-round btn-lg" href="/login" role="button">  Login </a>
      
    </div>

  </div>
 </div>
</div>
<%- include('partials/footer') %>
